* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.2;
}

.container-fluid {
  max-width: 1200px;
  margin: auto;
  padding-top: 32px;
}

.btn {
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 18px;
}

/* Hero section */

.main-page {
  text-align: center;
  background-color: #f8f9fa;
  align-content: center;
}

.main-page h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.main-page p {
  color: #808080;
}

.main-page img {
  padding: 32px 0px;
  width: 570px;
}

/* Main page buttons */

.get-started-btn {
  margin: 0 8px;
  border: 0 solid;
  background-color: #0050ff;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid transparent;
}

.get-started-btn:hover {
  background-color: #f8f9fa;
  border: 1px solid #0050ff;
  color: #0050ff;
}

.learn-more-btn {
  margin: 0 8px;
  border: 0 solid;
  background-color: #263238;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid transparent;
}

.learn-more-btn:hover {
  background-color: #f8f9fa;
  border: 1px solid #263238;
  color: #263238;
}

/* Responsive hero section */

@media (max-width: 570px) {
  .navbar div.container-fluid .navbar-brand {
    margin: auto;
  }

  .main-page img {
    padding: 32px 0px;
    width: auto;
  }

  .main-page {
    text-align: center;
    background-color: #f8f9fa;
    align-content: center;
    padding: 0 8px;
  }
}

/* Features section */

.features-section-title {
  text-align: center;
  padding: 96px 0 32px;
}

.features-section-title h2 {
  font-weight: 550;
}

.features-section-title p {
  color: #808080;
}

/* Feature card */

.feature-card {
  padding: 0px 80px 16px;
}

.feature-icon-container {
  width: 73px;
  height: 73px;
}

.feature-icon {
  transition: 0.8s;
}

.feature-icon:hover {
  width: 72px;
}

.feature-card h3 {
  font-size: 1.25rem;
  padding: 16px 0;
}

.feature-card p {
  color: #808080;
  font-weight: 300;
}

.feature-card a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
}

/* Responsive feature section */

@media (max-width: 570px) {
  .feature-card {
    margin-bottom: 64px;
  }

  .features-section-title {
    text-align: center;
    padding: 96px 32px 32px;
  }
}

/* Blog section */

.blog-card {
  align-items: center;
}

.blog-card .col {
  padding-left: 80px;
}

.blog-text {
  width: 65%;
}

.blog-text p {
  padding: 16px 0;
  color: #808080;
  font-weight: 300;
}

.read-more-btn {
  border: 0 solid;
  background-color: #0050ff;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid transparent;
}

.read-more-btn:hover {
  background-color: #f8f9fa;
  border: 1px solid #0050ff;
  color: #0050ff;
}

/* Responsive blog section */
@media (max-width: 570px) {
  .blog-section {
    text-align: center;
    padding: 0px 32px;
  }

  .blog-text {
    width: auto;
  }
}

/* Goals section */

.goals-section {
  text-align: center;
  padding: 64px 0px;
}

.goals-section p {
  color: #808080;
  padding-bottom: 32px;
}

/* Goal card animation */

.goal-card {
  position: relative;
}

.goal-img {
  width: 100%;
  background-color: #bfe2ff;
  padding: 32px;
}

.goal-pic {
  position: relative;
  margin: 0px 32px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0051ff6e;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.goal-pic:hover .overlay {
  opacity: 1;
}

.card-content-btn {
  padding: 6px 12px;
  background-color: #f8f9fa;
  color: #263238;
  border: 0;
  transition: 0.5s;
}

.card-content-btn:hover {
  background-color: #263238;
  color: #f8f9fa;
}

/* Goal card title */

.goal-card h4 {
  font-size: 1.1rem;
  padding: 16px 0px 0px;
}

.goal-card p {
  font-size: 1rem;
}

/* Responsive goals section */
@media (max-width: 570px) {
  .goals-section {
    text-align: center;
    padding: 94px 32px 32px;
  }
}

/* Reviews section */

.reviews-section {
  text-align: center;
  padding-bottom: 64px;
}

.reviews-section p {
  color: #808080;
  padding-bottom: 32px;
  flex-wrap: nowrap !important;
}

/* Reviews card */

.person-name {
  font-size: 1.1rem;
  margin-top: 16px;
}

.person-info {
  font-size: 1rem;
  color: #808080;
}

.card-img {
  width: 88px;
  border-radius: 50%;
}

.card {
  text-align: center;
  align-items: center;
  padding: 32px;
  background-color: #f3f7fb;
  border: 0px;
  transition: 0.8s;
}

.card:hover {
  background-color: #d8e2ec;
}

.card-line {
  background-color: #0050ff;
  width: 80px;
  height: 3px;
  margin: auto;
}

.card-text {
  padding-bottom: 0px !important;
}

/* Responsive reviews section */
@media (max-width: 570px) {
  .reviews-section {
    padding: 94px 32px 32px;
  }
}

/* Contact section */

.contact-us {
  text-align: center;
  padding: 88px;
  background-image: url(/Network/images/contact-img.jpg);
  background-size: cover;
}

.contact-us button {
  border-radius: 50px;
  margin-top: 12px;
  border-color: #1666d8;
  color: #1666d8;
  background-color: #ffffff;
}

.contact-us button:hover {
  background-color: #1666d8;
}

/* Responsive contact section */
@media (max-width: 570px) {
  .contact-section {
    padding: 94px 32px 32px;
  }
}

/* Footer section */

footer {
  padding: 64px 0px;
}

footer p {
  color: #808080;
  font-size: 0.9rem;
  font-weight: 400;
}

.footer-brand {
  margin-bottom: 8px;
}

.footer-card {
  margin-bottom: 32px;
}

.footer-card h3 {
  font-size: 1.3rem;
}
/* Get in Touch card */

.email-input {
  border: none;
  background-color: #f3f7fb;
  padding: 8px 8px;
  font-size: 0.9rem;
  width: 100%;
}

.subscribe-btn {
  margin: 8px 0px;
  border: 0 solid;
  background-color: #263238;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid transparent;
}

.subscribe-btn:hover {
  background-color: #f8f9fa;
  border: 1px solid #263238;
  color: #263238;
}

/* Our guidlines */

.guidelines ul {
  list-style: none;
  padding-left: 0px;
}

.guidelines ul li {
  margin-bottom: 12px;
}

.guidelines ul a {
  text-decoration: none;
  color: #808080;
  font-size: 0.9rem;
  font-weight: 400;
  transition: 0.8s;
}

.guidelines ul a:hover {
  color: #0050ff;
}

/* Address */

.social-icons {
  text-align: center;
  font-size: 0.8rem;
  width: 32px;
  height: auto;
  padding: 8px;
  border-radius: 100px;
  color: #808080;
  border: 1px solid #8080805b;
  cursor: pointer;
  transition: 0.8s;
}

.social-icons:hover {
  background-color: #808080;
  color: #ffffff;
}

/* Responsive footer section */
@media (max-width: 570px) {
  footer {
    text-align: center;
    padding: 94px 32px 32px;
  }

  .email-input {
    border: none;
    background-color: #f3f7fb;
    padding: 8px 8px;
    font-size: 0.9rem;
    width: 80%;
  }
}
